dist: bionic
language: go

go:
- 1.14.x

jobs:
  include:
    - stage: "builder"
      name: "build dong"
      script: 
        - go build
    - stage: "deployment"
      name: "deploy aja"
      script:
