dist: focal
language: go
go:
- 1.14.x

install:
  - sudo apt-get install flameshot -y
  
after_success:
  - echo "BERHASIL"
  
after_failure:
  - echo "GATOT"

jobs:
  include:
    - stage: "builder"
      name: "build dong"
      install: skip
      script: 
        - go vet
        - go build
    - script:
        - go test
      name: "build lagi"
    - script:
        - ./script/skrip.sh
      name: "lagi-lagi build"
    - stage: "deployment"
      name: "deploy aja"
      script:
