

dist: bionic
language: go
go:
- 1.14.x

before_install:
  - echo "before install"
  - phpenv global 7.3
  - rvm install 2.4.9

install:
  - sudo apt-get install flameshot -y
  
after_success:
  - echo "BERHASIL"
  
after_failure:
  - echo "GATOT"

jobs:
  include:
    - stage: "no-clone"
      git:
        clone: true
      name: "no cloning"
      script:
        - echo "tidak ada cloning"
      if: branch = try
    - stage: "builder"
      name: "build dong"
      install: skip
      script: 
        - go vet
        - go build
    - script:
        - go test
      name: "build lagi"
    - script:
        - ./script/skrip.sh
      name: "lagi-lagi build"
    - stage: "deployment"
      name: "deploy aja"
      script:
